
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  background:rgb(27, 27, 27);
  height: 60px;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999; 
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 15px;
}

.fa-film {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

 .nav-item-search {
  color: #fff;
  /* margin-top: 27px; */

} 

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  height: 100%; 

}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}


.menu-icon {
  display: none;
}

.movie-container {
  width: 656px;
  background-color: white;
  margin-left: 300px;
  min-height: calc(100vh);
  vertical-align: top;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 84px;

}
.moviecard-title {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

.moviecard-overview {
  margin-top: 10px;
}

.search-movie {
  cursor: pointer;
}

.search-movie__input {
  width: 100%;
      border: 1px solid #ddd;
      background-color: white !important;
      /* border-radius: 3px; */
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;

}

.topmovies-header {
  color: rgb(65, 64, 64);
  margin-bottom: 10px;
}

.moviecard-button {
  cursor: pointer;
      font-family: 'PT Sans', sans-serif;
      color:white;
      background-color: rgb(238, 67, 67);
      border: 1px solid transparent;
      margin-right: 8px;
      margin-top: 10px;
      font-size: 15px !important;
      line-height: 17px;
      padding: 6px 12px 7px 12px;
      position: relative;
      display: inline-block;
      white-space: nowrap;
      border-radius: 3px !important;
      text-decoration: none !important;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
}

